.App {
  width: 800px;
  margin: 20px auto;
  text-align: center;
}

button {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}
span {
  display: inline-block;
  width: 50px;
  text-align: center;
}
h2 {
  margin-bottom: 2px;
  margin-top: 5px;
}